
.nav {
  background-color: '#263238',
}
.img {
  width: 100%;
  height: auto;
}
.switch {
  text-align: center;
  margin: 90px;
}
.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.dev-info1 {
  position: absolute;
  top: 13%;
  left: 1%;
  background-color: #fff8e1;
  width: 30%;
  padding: 10px;
  border-radius: 20px;
  text-align: justify;


}
.dev-info2 {
  position: absolute;
  top: 50%;
  left: 67.7%;
  background-color: #dcedc8;
  width: 30%;
  padding: 10px;
  border-radius: 20px;
  text-align: justify;


}
.dev-info3 {
  position: absolute;
  top: 90%;
  left: 1%;
  background-color: #ffe0b2;
  width: 30%;
  padding: 10px;
  border-radius: 20px;
  text-align: justify;


}
.home-heading {
  text-align: center;
  background-color: #ffb74d;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
